n8n/workflows/youth-policy-recommendation.json
{
  "name": "Youth Policy Recommendation System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youth-policy",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "youth-policy-webhook"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "={{ $json.body.userInput }}"
            }
          ]
        },
        "options": {
          "systemMessage": "당신은 사용자의 자연어 입력을 분석하여 구조화된 JSON으로 변환하는 전문가입니다.\n\n다음 정보를 추출하세요:\n- age: 연령 (숫자)\n- location: 거주지 (시/도)\n- income_annual: 연소득 (숫자, 원 단위)\n- employment_status: 직장인/무직/자영업/학생 등\n- needs: 사용자의 주요 니즈 (배열)\n- interest_areas: 관심 분야 (배열)\n- target_year: 대상 연도 (기본값: 2025)\n\n반드시 다음 JSON 형식으로만 응답하세요:\n```json\n{\n  \"age\": 숫자,\n  \"location\": \"문자열\",\n  \"income_annual\": 숫자,\n  \"employment_status\": \"문자열\",\n  \"needs\": [\"문자열1\", \"문자열2\"],\n  \"interest_areas\": [\"문자열1\", \"문자열2\"],\n  \"target_year\": 2025\n}\n```"
        }
      },
      "id": "step1-llm-extraction",
      "name": "STEP 1: LLM Input Extraction",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "extract",
        "extractionMode": "json"
      },
      "id": "json-parser",
      "name": "Parse JSON Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "vectorStoreType": "pinecone",
        "indexName": "youth-policy-kb",
        "topK": 20,
        "filter": {
          "filters": [
            {
              "field": "source_tier",
              "operator": "in",
              "value": ["Tier 1", "Tier 2"]
            },
            {
              "field": "publish_year",
              "operator": "in",
              "value": [2024, 2025]
            },
            {
              "field": "policy_end_date",
              "operator": "gte",
              "value": "={{ $now.toISO().split('T')[0] }}"
            }
          ]
        },
        "queryEmbedding": "={{ JSON.stringify($json) }}"
      },
      "id": "step2a-vector-search",
      "name": "STEP 2A: Vector DB Search with Metadata Filter",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [850, 300],
      "notes": "1차 필터: 메타데이터 기반 검색\n- 2024/2025년 데이터만\n- 종료일이 현재 이후인 정책만"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "당신은 정부 정책 정보의 유효성을 검증하는 전문가입니다.\n\n다음 검색된 문서들을 분석하여 사용자에게 제공할 유효한 정보만 선별하세요.\n\n사용자 정보:\n{{ JSON.stringify($('Parse JSON Output').first().json, null, 2) }}\n\n검색된 문서:\n{{ JSON.stringify($json, null, 2) }}\n\n검증 규칙:\n1. **Tier 1 우선 원칙**: Tier 1(공식 출처)과 Tier 2(비공식 출처)의 정보가 충돌할 경우, Tier 1의 정보를 우선 채택합니다.\n2. **교차 검증**: 여러 Tier 2 문서의 정보가 일치하는지 확인하여 신뢰도를 판단합니다.\n3. **유효성 재확인**:\n   - \"종료\", \"마감\", \"폐지\" 키워드가 포함된 정보는 제외\n   - 2023년 이전 연도가 언급되는 정보는 제외\n   - policy_end_date가 현재 날짜 이전인 정보는 제외\n4. **자격 조건 검증**: 사용자의 나이, 소득, 거주지가 정책의 자격 조건과 부합하는지 확인\n\n다음 JSON 형식으로 검증된 정책들만 반환하세요:\n```json\n{\n  \"validated_policies\": [\n    {\n      \"policy_name\": \"정책명\",\n      \"policy_category\": \"대출/자산형성/주거/교육/창업 등\",\n      \"support_details\": \"지원 내용 요약\",\n      \"eligibility\": \"자격 조건\",\n      \"required_documents\": [\"필수 서류1\", \"필수 서류2\"],\n      \"official_link\": \"URL\",\n      \"source_tier\": \"Tier 1 또는 Tier 2\",\n      \"confidence_score\": \"high/medium/low\",\n      \"validation_notes\": \"검증 참고사항\"\n    }\n  ]\n}\n```"
            }
          ]
        }
      },
      "id": "step2b-llm-validation",
      "name": "STEP 2B: LLM Validation & Cross-Check",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1050, 300],
      "notes": "2차 필터: LLM 기반 검증\n- Tier 1 우선 원칙 적용\n- 교차 검증 및 유효성 재확인"
    },
    {
      "parameters": {
        "operation": "extract",
        "extractionMode": "json"
      },
      "id": "validation-parser",
      "name": "Parse Validated Policies",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "당신은 청년 정책 추천 전문가입니다.\n\n다음 검증된 정책 정보를 바탕으로 사용자에게 친절하고 명확한 맞춤형 추천을 제공하세요.\n\n사용자 정보:\n{{ JSON.stringify($('Parse JSON Output').first().json, null, 2) }}\n\n검증된 정책:\n{{ JSON.stringify($json.validated_policies, null, 2) }}\n\n다음 형식으로 답변을 생성하세요:\n\n# 2025년도 맞춤형 청년 정책 추천\n\n{사용자 이름}님의 조건(만 {나이}세, 연소득 {소득}, {거주지} 거주)에 부합하는 유효한 정책입니다.\n\n## 추천 정책 목록\n\n| 정책 구분 | 정책명 | 핵심 지원 내용 | 신청 자격 | 필수 서류 | 공식 링크 |\n|----------|--------|--------------|----------|----------|----------|\n| {category} | {name} | {details} | {eligibility} | {documents} | [바로가기]({link}) |\n\n## 신청 시 유의사항\n\n{각 정책별 주요 유의사항과 팁 제공}\n\n## 추가 정보\n\n- 정보 출처: {Tier 1/Tier 2 문서 수}\n- 검증 날짜: {현재 날짜}\n- 주의: 정책은 수시로 변경될 수 있으니, 신청 전 반드시 공식 사이트에서 최신 정보를 확인하세요.\n\n---\n\n**중요**: Tier 2 정보가 포함된 경우, 해당 정보는 참고용이며 공식 사이트 확인이 필요함을 명시하세요."
            }
          ]
        }
      },
      "id": "step3-llm-generation",
      "name": "STEP 3: LLM Final Answer Generation",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1450, 300],
      "notes": "3단계: 최종 답변 생성\n- 마크다운 테이블 형식\n- 사용자 맞춤형 설명"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/markdown; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "operation": "log",
        "message": "워크플로 실행 완료\n사용자: {{ $('Parse JSON Output').first().json.age }}세, {{ $('Parse JSON Output').first().json.location }}\n검증된 정책 수: {{ $('Parse Validated Policies').first().json.validated_policies.length }}"
      },
      "id": "logger",
      "name": "Execution Logger",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1650, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "STEP 1: LLM Input Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STEP 1: LLM Input Extraction": {
      "main": [
        [
          {
            "node": "Parse JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Output": {
      "main": [
        [
          {
            "node": "STEP 2A: Vector DB Search with Metadata Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STEP 2A: Vector DB Search with Metadata Filter": {
      "main": [
        [
          {
            "node": "STEP 2B: LLM Validation & Cross-Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STEP 2B: LLM Validation & Cross-Check": {
      "main": [
        [
          {
            "node": "Parse Validated Policies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validated Policies": {
      "main": [
        [
          {
            "node": "STEP 3: LLM Final Answer Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STEP 3: LLM Final Answer Generation": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execution Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "RAG",
      "id": "rag-system"
    },
    {
      "name": "Youth Policy",
      "id": "youth-policy"
    }
  ],
  "meta": {
    "instanceId": "youth-policy-recommendation-system",
    "description": "AI 기반 청년 정책 추천 시스템 - RAG 아키텍처 구현",
    "version": "1.0.0",
    "author": "N8N Workflow Automation Expert"
  }
}
